{% block content %}
<div class="auth-container">
    <h2>Регистрация в системе</h2>
    <form method="post">
        {% csrf_token %} <div class="form-field">
            <label>ФИО:</label>
            {{ form.fio }}
        </div>

        <div class="form-field">
            <label>Телефон:</label>
            {{ form.phone }}
        </div>

        <div class="form-field">
            <label>Пароль:</label>
            {{ form.password_hash }}
        </div>

        <div class="form-field">
            <label>Подтверждение пароля:</label>
            {{ form.confirm_password }}
        </div>

        <button type="submit" class="btn">Создать аккаунт</button>
    </form>
    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
</div>
{% endblock %}